@import "src/config.scss";

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.btn {
  min-width: 140px;
  width: 10vw;
  max-width: 300px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

.btn-dark {
  background-color: $BACKGROUND_COLOR_BLACK;
  color: $TEXT_COLOR_LIGHT;

  &:hover {
    background-color: lighten($BACKGROUND_COLOR_BLACK, 8%);
  }
}

.btn-light {
  background-color:$BACKGROUND_COLOR_BLACK;
  color: $TEXT_COLOR_LIGHT;

  &:hover {
    background-color: darken($BACKGROUND_COLOR_BLACK, 4%);
  }
}
