@import "src/config.scss";

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  //padding: 20px;
  padding-bottom: 5vh;
  //padding-top: 10vh;
}

.btn {
  font-family: $FONT;
  font-size: $FONT_SIZE_MEDIUM;
  //min-width: 165px;
  min-width: 175px;
  width: 15vw;
  max-width: 240px;
  padding: 10px 20px;
  //font-weight: 600;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

.btn-dark {
  background-color: $BACKGROUND_COLOR_BLACK;
  color: $TEXT_COLOR_LIGHT;

  &:hover {
    background-color: lighten($BACKGROUND_COLOR_BLACK, 8%);
  }
}

.btn-light {
  background-color:white;
  color: $TEXT_COLOR_DARK;

  &:hover {
    background-color: darken(white, 5%);
  }
}

//@media (max-width: 768px) {
//  .btn {
//    min-width: 175px;
//  }
//}
