.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;  // Espace entre les boutons
  padding: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 20px;
border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

.btn-dark {
  background-color: #383735;
  color: white;

  &:hover {
    background-color: #555;
  }
}

.btn-light {
  background-color: white;
  color: #333;

  &:hover {
    background-color: #e0e0e0;
  }
}
