@import "src/config.scss";

.animated-title {
  .myname-container {
    background-color: $BACKGROUND_COLOR_BLACK;
    color: $TEXT_COLOR_LIGHT;

    #myname {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem;
      margin: 0 auto;
      margin-left: 12vw;
      margin-right: 12vw;
    }
  }
}

@media (max-width: 600px) {
  .animated-title {
    .myname-container {

      background-color: $BACKGROUND_COLOR_BLACK;
      color: $TEXT_COLOR_LIGHT;

      #myname {
        font-size: 1.5rem;
        padding: 0.5rem;
      }
    }
  }
}


