@import "src/config.scss";

$TEXT_MARGIN : 14vw;

.animated-title {
  .paragraph-text-container {
    background-color: $BACKGROUND_COLOR_BLACK;
    color: $TEXT_COLOR_LIGHT;

    #paragraph-text {
      font-size: $FONT_SIZE_MEDIUM;
      text-align: center;

      //padding: 1rem;
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
      margin-left: $TEXT_MARGIN;
      margin-right: $TEXT_MARGIN;
    }
  }
}

@media (max-width: 640px) {
  .animated-title {
    .paragraph-text-container {
      background-color: $BACKGROUND_COLOR_BLACK;
      color: $TEXT_COLOR_LIGHT;

      #paragraph-text {
        font-size: $FONT_SIZE_MEDIUM;

        //margin-left: 20px;
        //margin-right: 20px;
        //width: 50%;
        //padding: 0.5rem;
        //font-size: calc($FONT_SIZE_MEDIUM * 0.8); // Réduire la taille de la police
        //padding: 1rem; // Ajouter un padding pour éviter que le texte touche les bords
        //margin-left: 5%; // Réduire les marges pour s'adapter à l'écran
        //margin-right: 5%; // Réduire les marges pour s'adapter à l'écran
        //text-align: left; // Alignement à gauche pour une meilleure lisibilité sur mobile
      }
    }
  }
}




