@import "src/config.scss";

$TEXT_MARGIN : 14vw;

.animated-title {
  .paragraph-text-container {
    background-color: $BACKGROUND_COLOR_BLACK;
    color: $TEXT_COLOR_LIGHT;

    #paragraph-text {
      font-size: $FONT_SIZE_MEDIUM;
      text-align: center;

      //padding: 1rem;
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
      margin-left: $TEXT_MARGIN;
      margin-right: $TEXT_MARGIN;
    }
  }
}

@media (max-width: 600px) {
  .animated-title {
    .paragraph-text-container {
      background-color: $BACKGROUND_COLOR_BLACK;
      color: $TEXT_COLOR_LIGHT;

      #paragraph-text {
        font-size: $FONT_SIZE_MEDIUM;
        padding: 0.5rem;
      }
    }
  }
}


