@import 'src/config.scss';

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 50vw;
  min-width: 400px;
  padding-bottom: 2vh;
}

.timeline-item {
  position: relative;
  width: 80%;
  padding: 20px;
  padding-bottom: 7vh;
  box-sizing: border-box;
  display: flex;

  &:nth-child(odd) {
    justify-content: flex-end;
  }

  &:nth-child(even) {
    justify-content: flex-start;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: #2E2E2E;
    z-index: -1;
  }
}

.timeline-content {
  background-color: $BACKGROUND_COLOR_COMPONENT;
  padding: 20px;
  border-radius: 8px;
  box-shadow: $BOX_SHADOW_HOVER;
  max-width: 500px;
  width: 150vw;
  display: flex;
  flex-direction: column;
  z-index: auto;

  .timeline-icon {
    margin-bottom: 10px;

    img {
      width: 100px;
      height: auto;
    }
  }
}

.timeline-year {
  font-size: 1.5rem;
  font-weight: bold;
  color: #312920;
  z-index: auto;
}

.timeline-year0 {color: #6b63b6}
.timeline-year1 {color:#b0ab11}
.timeline-year2 {color:#74c8c4}
.timeline-year3 {color:#63b32e}

.timeline-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
  z-index: auto;
}

.timeline-description {
  font-size: 1rem;
  color: #312920;
  z-index: auto;
}

@media (max-width: 1350px) {
  .timeline-content {
    width: 100%;
  }

  .timeline-container {
    min-width: 100vw;
  }
}


@media (max-width: 768px) {
  .timeline-item {
    padding: 20px;
    justify-content: center;

    &:before {
      display: none;
    }
  }

  .timeline-content {
    max-width: 100%;
  }

  .timeline-icon img {
    width: 70px;
  }
}
