@import "src/config.scss";

$BORDER_RADIUS_PICTURE: 4%;

$BASIC_SHADOW: 12px -12px 15px 2px rgb(44, 107, 153,0.75), -10px 12px 15px 2px rgb(106, 101, 55,0.75);

$HOVER_SHADOW: 10px -10px 15px 0px darken(rgb(78, 140, 166,1), 10%), -10px 10px 15px 0px darken(rgb(128, 118, 75,1), 10%);


.container {
  //padding-top: 0vh;
  //padding-bottom: 16vh;
  padding-top: 25px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .card {
  margin-left: 2vw;
  position: relative;
  width: 18vw;
  aspect-ratio: 9/11;
  margin-right: 3.2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translate(0vw, 0vw);
  border-radius: $BORDER_RADIUS_PICTURE;
  //box-shadow: 7px 7px 21px black, -7px -7px 21px #ffffff;
  //box-shadow: 3px 3px 41px black, -3px -3px 41px #ffffff;
  //box-shadow: 3px 3px 70px black, -3px -3px 10px #ffffff;
  box-shadow: $BASIC_SHADOW;
  //box-shadow: 10px 10px 100px black;
  transition: box-shadow 1s ease-in-out;
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $BORDER_RADIUS_PICTURE;
  z-index: 1;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  //box-shadow: 7px 7px 21px black, -7px -7px 21px #ffffff;
  background: transparent;
}

.image {
  //border: 5px double #3f3f3f;
  background-image: url("../../../public/resources/profile_picture.png");
  //-webkit-filter: grayscale(0);
  //filter: grayscale(0);
}

.card:hover {
  .image {
    //box-shadow: 10px 10px 80px black;
    //box-shadow: 10px 10px 66px black;
    box-shadow: $HOVER_SHADOW;

    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

#infoTitle {
  //font-size: 1.8rem;
  //font-size: 150%;
  font-size: 1.5vw;
  padding: 10px;
  color: $TEXT_COLOR_LIGHT;
}

#infoText {
  //font-size: 1.2rem;
  //font-size: 100%;
  font-size: 1vw;
  color: $TEXT_COLOR_LIGHT;
  padding: 2%;
  text-align: justify;
  //text-justify: distribute;
}

.container .card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 1.4;
  font-size: 2vh;
  opacity: 0;
  transition: opacity 1s;
  border-radius: $BORDER_RADIUS_PICTURE;
  z-index: 3;
}

.container .card:hover .info {
  opacity: 1;
}

@media (max-width: 1280px) {
  .container {
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .container .card .image {
    margin-left: -1vw;
    width: 100%;
    height: 100%;
  }

  .container .card {
    margin-left: 3vw;
    width: 40vw;
    aspect-ratio: 9/11;
  }

  .container .card .info {
    //margin-left: 3vw;
    //width: 92.5%;
    margin-left: -0.5vw;
    width: 100%;
  }

  #infoTitle {
    font-size: 3.4vw;
  }

  #infoText {
    font-size: 2.2vw;
  }
}


@media (max-width: 768px) {

  #infoTitle {
    font-size: 6.5vw;
  }

  #infoText {
    font-size: 4.7vw;
  }

  .container {
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .container .card {
    margin-left: 3vw;
    width: 80vw;
    aspect-ratio: 9/11;
  }
  .container .card .image {
    margin-left: 3vw;
    width: 100%;
    height: 100%;
  }

  .container .card .info {
    margin-left: 3vw;
    width: 97%;
  }
}

//@keyframes float {
//  0% {
//    transform: translateY(0px);
//  }
//  50% {
//    transform: translateY(-12px);
//  }
//  100% {
//    transform: translateY(0px);
//  }
//}
//
//.container {
//  animation: float 4s ease-in-out infinite;
//}


