@import "src/config.scss";

$WIDTH: 100vw;
$MIN_WIDTH: 320px;
$MAX_WIDTH: 800px;

.all-skills-container {
  width: $WIDTH;
  min-width: $MIN_WIDTH;
}

.all-skills-wrapper {
  background-image: url('../../../public/resources/background/background1.svg');
  padding-bottom: 14vh;
  background-size: cover;
  background-position: center;
  transform-origin: center;
}

.skills-divider {
  border: none;
  border-top: 2px solid #ccc;
  width: 120%;
  min-width: $MIN_WIDTH;
  max-width: $MAX_WIDTH;
  margin: 10vh auto 20px;
}

@media (max-width: 768px) {
  .skills-divider {
    width: 100%;
  }
}

.type-animation-text {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 50px;
}
