@import "src/config.scss";

$WIDTH: 100vw;
$MIN_WIDTH : 320px;
$MAX_WIDTH : 800px;

.all-skills-container {
  width: $WIDTH;
  min-width: $MIN_WIDTH;
}

.skills-divider {
  /* Centrer la ligne horizontalement avec un espace vertical */
  border: none; /* Enlève le style par défaut */
  border-top: 2px solid #ccc; /* Ligne supérieure personnalisée */
  width: 120%;
  min-width: $MIN_WIDTH;
  max-width: $MAX_WIDTH;
  margin: 10vh auto 20px;
}
