@import "src/config.scss";

.experiences-container {
  will-change: auto;
  transform: none;
  width: 100vw;
  min-width: 320px;
  background-image: url('../../../public/resources/background/background2.svg');
  padding-bottom: $FOOTER-MARGIN;
  background-size: cover;
  background-position: center;
  transform-origin: center;
}
