@import "src/config.scss";

body {
  overflow-y: visible;
  overflow-x: hidden;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align:  center;
  background-color: $COLOR;
  margin: 0;
}

#titre-parcours {
  padding-top: 12vh;
  padding-bottom: 2vh;
  font-size: 2rem;
  color: $TEXT_COLOR_DARK;
}


