@import "src/config.scss";

form {
  background-color: $BACKGROUND_COLOR_COMPONENT;
  padding: 2rem;
  border-radius: $BORDER_RADIUS_DEFAULT;
  margin-bottom: 6vh;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: $BACKGROUND_COLOR_BLACK;
}

.contactForm {
  margin-top: 6.5vh;
  box-shadow: $BOX_SHADOW;
  border-radius: $BORDER_RADIUS_DEFAULT;
  background-color: $BACKGROUND_COLOR_COMPONENT;
}

input[type="text"], input[type="email"], textarea {
  width: 98%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid $BACKGROUND_COLOR_BLACK;
  border-radius: $BORDER_RADIUS_COMPONENT;
  background-color: $BACKGROUND_COLOR_COMPONENT;
  font-size: $FONT_SIZE_SMALL;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $BACKGROUND_COLOR_BLACK;
    outline: none;
  }
}

textarea {
  resize: vertical;
  min-height: 280px;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: $BORDER_RADIUS_BUTTON;
  background-color: $BACKGROUND_COLOR_BLACK;
  color: $TEXT_COLOR_LIGHT;
  min-width: 6.5vw;
  font-size: $FONT_SIZE_SMALL;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($BACKGROUND_COLOR_BLACK, 10%);
  }

  &:focus {
    outline: none;
  }
}

@media (max-width: 768px) {
  form {
    padding: 1.5rem;
  }

  button {
    padding: 0.75rem;
  }
}
