@import "src/config.scss";

$hover-link-color: #6fb3ff;

.contact-card {
  background-color: #e8e6e3;
  border-radius: 8px;
  box-shadow: $BOX_SHADOW;
  padding: 20px;
  min-width: 320px;
  width: 40vw;
  margin: 20px auto;
  margin-top: 15vh;
  text-align: left;

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: $TEXT_COLOR_DARK;
  }

  .contact-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      font-size: 16px;
      color: $TEXT_COLOR_DARK;
      display: flex;
      align-items: center;

      .icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }

      a {
        color: $TEXT_LINK_COLOR;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $hover-link-color;
          text-decoration: underline;
        }
      }
    }
  }
}
