@import "src/config.scss";

.profile-picture-container {
  .profile-picture {
    z-index: 4;
    //width: 100px;
    width: 80px;
    //height: 100px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    //border: 4px solid #91cc5f;
    animation: shake 5s infinite ;
  }
}

$shake1: 1px;
$shake2: 3px;

@keyframes shake {
  //0% { transform: translateX(0); }
  //1% { transform: translateX(-$shake1); }
  //2% { transform: translateX($shake1); }
  //3% { transform: translateX(-$shake1); }
  //4% { transform: translateX($shake2); }
  //5% { transform: translateX(-$shake2); }
  //6% { transform: translateX($shake2); }
  //7% { transform: translateX(-$shake1); }
  //8% { transform: translateX($shake1); }
  //9% { transform: translateX(-$shake1); }
  //10% { transform: translateX(0); }
  //100% { transform: translateX(0); }
}

