@import "src/config.scss";

$WIDTH : 40vw;
$MIN_WIDTH : 320px;

.contact-card {
  background-color: $BACKGROUND_COLOR_COMPONENT;
  border-radius: 8px;
  box-shadow: $BOX_SHADOW;
  padding: 20px;
  min-width: $MIN_WIDTH;
  width: $WIDTH;
  margin: 20px auto;
  margin-top: 15vh;
  text-align: left;


  #contact-title {
    margin-bottom: 20px;
    padding-top: 5px;
    font-size: $FONT_SIZE_LARGE;
    color: $TEXT_COLOR_DARK;
  }

  .contact-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      font-size: $FONT_SIZE_SMALL;
      color: $TEXT_COLOR_DARK;
      display: flex;
      align-items: center;

      .icon {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }

      a {
        color: $TEXT_LINK_COLOR;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $TEXT_LINK_COLOR_HOVER;
          text-decoration: underline;
        }
      }
    }
  }
}
