@import "src/config.scss";

.title-container {
  margin: 0 auto;
  padding-top: 10vh;
}

h1 {
  font-size: $FONT_SIZE_H1;
  margin-top: 5vh;
}

h2 {
  padding-top: 3vh;
  font-size: $FONT_SIZE_H2;
}

.word-wrapper {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.word-wrapper span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .title-container {
    padding-top: 15vh;
  }

  h1 {
    font-size: $FONT_SIZE_H1_RESPONSIVE;
    margin-top: 2vh;
  }

  h2 {
    font-size: $FONT_SIZE_H2_RESPONSIVE;
    padding-top: 2vh;
  }
}
