@import "src/config.scss";

.footer {
  width: 100%;
  background-color: $BACKGROUND_COLOR_BLACK;
  text-align: center;
  padding: 20px 0;

  .contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      padding: 5px 16px;
      color: $TEXT_COLOR_LIGHT;

      .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      a {
        color: $TEXT_COLOR_LIGHT;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .contact-list {
      flex-direction: column;
      align-items: center;

      li {
        padding: 10px 0;
        width: 100%;
        justify-content: center;
        text-align: center;

        .icon {
          margin-right: 4px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .contact-list {
      li {
        padding: 8px 0;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .icon {
          margin-bottom: 5px;
        }

        a {
          font-size: 0.9em;
        }
      }
    }
  }
}
