.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ede8df;
}

.responsiveImage {
    width: 100%;
    height: auto;
    max-width: 800px;  // Taille maximale en largeur (pour les grands écrans)
    max-height: 2000px;  // Taille maximale en hauteur (pour les grands écrans)
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    // Ajustements pour les écrans plus petits
    @media (max-width: 1200px) {
        max-width: 600px;  // Réduire la largeur pour les écrans de taille moyenne
    }

    @media (max-width: 768px) {
        max-width: 100%;  // Prendre toute la largeur disponible pour les petits écrans
        max-height: 80vh; // Limiter la hauteur pour que l'image reste visible sans trop scroller
    }

    @media (max-width: 480px) {
        max-width: 100%;  // Prendre toute la largeur disponible
        height: auto;  // Ajuster la hauteur automatiquement
        max-height: 70vh;  // Encore réduire la hauteur pour éviter trop de scrolling sur les petits écrans
    }
}
