$BACKGROUND_COLOR_DARKER: #e6e1d5;
$BACKGROUND_COLOR: #ede8df;
$BACKGROUND_COLOR_COMPONENT: #e8e6e3;

$BACKGROUND_COLOR_BLACK:#383735;

$BOX_SHADOW: 0 4px 20px rgba(0, 0, 0, 0.3);
$BOX_SHADOW_HOVER: 0 8px 16px rgba(0, 0, 0, 0.2);

$BASIC_FONT_SIZE: 1.5rem;

$COLOR: #f0dbbd;

$TEXT_COLOR_LIGHT: white;
$TEXT_COLOR_DARK: black;
$TEXT_LINK_COLOR: #4e90e0;

$BORDER_RADIUS_DEFAULT: 8px;
$BORDER_RADIUS_BUTTON: 20px;


